<!-- <!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>
<body>
    
    <%- include("../partials/navigation") %>
   
<form action="/posts/create" method="POST">
<div>
    <input name="name"/>
</div>
<div>
    <input name="content" />
</div>
<div>
    <select name="month">
        <option value="january">january</option>
        <option value="february">february</option>
        <option value="march">march</option>
        <option value="may">may</option>
        <option value="june">june</option>
        <option value="july">july</option>
        <option value="august">august</option>
        <option value="september">september</option>
        <option value="october">october</option>
        <option value="november">november</option>
        <option value="december">december</option>
    </select>
</div>
<div>
    <select name="year">
        <option value="2021">2021</option>
        <option value="2020">2020</option>
        <option value="2019">2019</option>
    </select>
</div>
<button type="submit">Add Post</button>
</form>
   
    
</body>
</html>
 -->
